/* ==========================================================================
   Layout
   ========================================================================== */

.container {
  width: min(1180px, 94vw);
  margin: 0 auto;
}

.container.contact {
  max-width: 50em;
}

.section {
  padding: clamp(4rem, 6vw, 6.5rem) 0;
  position: relative;
}

@media (max-width: 720px) {
  .section {
    padding: 3.3rem 0;
  }
}

.stack {
  display: grid;
  gap: 1.25rem;
}

.cluster {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.team-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.full-bleed {
  position: relative;
}

.container > .full-bleed {
  max-width: none;
  width: calc(100vw - var(--scrollbar-width));
  margin-inline: calc(50% - 50vw + (var(--scrollbar-width) / 2));
}

@supports (width: 100dvw) {
  .container > .full-bleed {
    width: 100dvw;
    margin-inline: calc(50% - 50dvw);
  }
}
