name: Preview Pages

on:
  pull_request:

permissions:
  contents: read

concurrency:
  group: preview-pages
  cancel-in-progress: true

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install and build
        uses: ./.github/actions/build
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
